<% if signed_in? %>
  <% provide(:title, 'Home') %>
  <div class="row">
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <% provide(:title, 'Welcome') %>
  <h1>Welcome to Twitter Clone</h1>
  <%= link_to 'Sign up', signup_path, class: "btn btn-primary" %>
  <%= link_to 'Sign in', signin_path, class: "btn btn-default" %>
<% end %>
