<% provide(:title, "Sign in") %>

<h1>Sign in to Twitter Clone</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: 'control-label' %>
    <%= f.text_field :email, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'control-label' %>
    <%= f.password_field :password, class: 'form-control'  %>
  </div>

  <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
