<% provide(:title, @user.name) %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <p><%= gravatar_for @user %></p>
    <ul>
      <li><strong>Name:</strong> <%= @user.name %></li>
      <li><strong>Email:</strong> <%= @user.email %></li>
    </ul>
  </div>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% else %>
      <p>No post yet</p>
    <% end %>
  </div>
</div>
