<li class="tweet clearfix">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <div class="content">
    <div class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </div>
    <div class="tweet-content">
      <%= feed_item.content %>
    </div>
    <div class="tweet-footer">
      <time><%= time_ago_in_words(feed_item.created_at) %> ago.</time>
      <% if current_user?(feed_item.user) %>
      <div class="tweet-actions">
        <%= link_to "delete", feed_item, method: :delete, data: { confirm: "You sure?" }, title: feed_item.content %>
      </div>
      <% end %>
    </div>
  </div>
</li>
